@include font-face(roboto, '../../fonts/roboto/roboto-regular', normal, normal, ttf);
@include font-face(pro-fast, '../../fonts/pro-fast/pro-fast', normal, normal, ttf);

[class^="icon-"], [class*=" icon-"] {
  display: inline-flex;
  &::before{
    font-family: icon-font, $default-fonts;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}